                        body {
                            background: #121926;
                        }
                        /*#0c111b*/
                        
                        .media-row {
                            display: flex;
                            /* overflow-y: hidden; */
                            /* overflow-x: scroll; */
                            padding: 1%;
                            border-radius: 5px;
                            width: 200px;
                            box-sizing: border-box;
                            margin-left: -5;
                            text-align: center;
                            /* height: 200px; */
                            /* top: 0; */
                        }
                        
                        .right-arrow {
                            right: -90px;
                            width: unset;
                            z-index: 2;
                            position: absolute;
                            top: 0;
                        }
                        
                        .media-row::-webkit-scrollbar {
                            display: none;
                        }
                        
                        .span {
                            margin: 25px;
                            font-weight: 500;
                            font-size: 20px;
                            color: #fff;
                            margin-top: 10px;
                        }
                        
                        .span:hover {
                            color: #1f80e0;
                            cursor: pointer;
                            transition: 0.3 ease-in;
                        }
                        /*.App{
margin: 25px;
}*/
                        
                        .watch {
                            margin-top: 10px;
                        }
                        
                        .video {
                            display: flex;
                            flex-direction: row;
                            padding: 10px;
                            padding-top: 22px;
                        }
                        
                        .iframe {
                            padding: 15px;
                        }
                        
                        .sports {
                            display: flex;
                            flex-direction: row;
                            padding: 10px;
                            padding-top: 22px;
                        }
                        /* @media (max-width:991px) { */
                        /* .register-photo form { */
                        /* padding: 40px */
                        /* } */
                        
                        @media (min-width: 768px) {
                            .watch {
                                width: 750px;
                            }
                        }
                        
                        @media only screen and (max-width: 768px),
                        screen and (orientation: landscape) and (max-width: 1366px) {
                            .watch .span .media-row {
                                padding: 0;
                            }
                        }